@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item w-100 me-0 mb-md-2">
        <a class="nav-link w-100 btn btn-flex btn-active-light-success @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
            <span class="d-flex flex-column align-items-start">
                <span class="fs-6 fw-bold">Personal Information</span>
                <span class="fs-7">Profile</span>
            </span>
        </a>
    </li>
    <li class="nav-item w-100 me-0 mb-md-2">
        <a class="nav-link nav-link w-100 btn btn-flex btn-active-light-info @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
            <span class="d-flex flex-column align-items-start">
                <span class="fs-6 fw-bold">Change Email</span>
                <span class="fs-7">Profile</span>
            </span>
        </a>
    </li>
    <li class="nav-item w-100">
        <a class="nav-link w-100 btn btn-flex btn-active-light-danger @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
            <span class="d-flex flex-column align-items-start">
                <span class="fs-6 fw-bold">Change Password</span>
                <span class="fs-7">Profile</span>
            </span>
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
</ul>

