@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="card">
        <div class="d-flex flex-column flex-md-row rounded border p-10">
            <ul class="nav nav-tabs nav-pills flex-row border-0 flex-md-column me-5 mb-3 mb-md-0 fs-6 min-w-lg-200px">
                <li class="nav-item w-100 me-0 mb-md-2">
                    <a class="nav-link w-100 btn btn-flex btn-active-light-success @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
                        <span class="d-flex flex-column align-items-start">
                            <span class="fs-6 fw-bold">Personal Information</span>
                            <span class="fs-7">Profile</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item w-100 me-0 mb-md-2">
                    <a class="nav-link w-100 btn btn-flex btn-active-light-info @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
                        <span class="d-flex flex-column align-items-start">
                            <span class="fs-6 fw-bold">Change Email</span>
                            <span class="fs-7">Profile</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link w-100 btn btn-flex btn-active-light-danger @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
                        <span class="d-flex flex-column align-items-start">
                            <span class="fs-6 fw-bold">Change Password</span>
                            <span class="fs-7">Profile</span>
                        </span>
                    </a>
                </li>
            </ul>
            <div class="tab-content w-100" id="myTabContent">
                <div class="card p-5" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;">
                    <form id="change-password-form" method="post">
                        <partial name="_StatusMessage" for="StatusMessage" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="fv-row mb-5">
                            <!--begin::Input group-->
                            <div class="form-floating">
                                <input asp-for="Input.OldPassword" class="form-control form-control-solid" id="OldPassword" />
                                <label asp-for="Input.OldPassword" autocomplete="current-password" aria-required="true">Current Password:</label>
                            </div>
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>
                        <!--begin::Main wrapper-->
                        <div class="fv-row mb-5" data-kt-password-meter="true">
                            <!--begin::Wrapper-->
                            <div class="mb-1">
                                <!--begin::Label-->
                                <label class="form-label fw-semibold fs-6 mb-2" asp-for="Input.NewPassword"></label>
                                <!--end::Label-->
                                <!--begin::Input wrapper-->
                                <div class="position-relative mb-3">
                                    <!--begin::Input group-->
                                    <div class="form-floating">
                                        <input asp-for="Input.NewPassword" class="form-control form-control-solid" id="NewPassword" />
                                        <label asp-for="Input.NewPassword" autocomplete="new-password" aria-required="true">New Password:</label>
                                    </div>
                                    <!--begin::Visibility toggle-->
                                    <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
                                          data-kt-password-meter-control="visibility">
                                        <i class="bi bi-eye-slash fs-2"></i>
                                        <i class="bi bi-eye fs-2 d-none"></i>
                                    </span>
                                    <!--end::Visibility toggle-->
                                </div>
                                <!--end::Input wrapper-->
                                <!--begin::Highlight meter-->
                                <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                                    <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                    <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                    <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                    <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
                                </div>
                                <!--end::Highlight meter-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Hint-->
                            <div class="text-muted">
                                Use 8 or more characters with a mix of letters, numbers & symbols.
                            </div>
                            <!--end::Hint-->
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                        <!--end::Main wrapper-->
                        <div class="fv-row mb-5">
                            <!--begin::Input group-->
                            <div class="form-floating">
                                <input asp-for="Input.ConfirmPassword" class="form-control form-control-solid" id="ConfirmPassword" />
                                <label asp-for="Input.ConfirmPassword" autocomplete="confirm-password" aria-required="true">Confirm Password:</label>
                            </div>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-sm btn-warning">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
