@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="content">

    <div class="card">
        <div class="d-flex flex-column flex-md-row rounded border p-10">
            <ul class="nav nav-tabs nav-pills flex-row border-0 flex-md-column me-5 mb-3 mb-md-0 fs-6 min-w-lg-200px">
                <li class="nav-item w-100 me-0 mb-md-2">
                    <a class="nav-link w-100 active btn btn-flex btn-active-light-success" data-bs-toggle="tab" href="#kt_vtab_pane_4">
                        <span class="d-flex flex-column align-items-start">
                            <span class="fs-6 fw-bold">Personal Information</span>
                            <span class="fs-7">Profile</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item w-100 me-0 mb-md-2">
                    <a class="nav-link w-100 btn btn-flex btn-active-light-info" data-bs-toggle="tab" href="#kt_vtab_pane_5">
                        <span class="d-flex flex-column align-items-start">
                            <span class="fs-6 fw-bold">Change Email</span>
                            <span class="fs-7">Profile</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link w-100 btn btn-flex btn-active-light-danger" data-bs-toggle="tab" href="#kt_vtab_pane_6">
                        <span class="d-flex flex-column align-items-start">
                            <span class="fs-6 fw-bold">Change Password</span>
                            <span class="fs-7">Profile</span>
                        </span>
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="kt_vtab_pane_4" role="tabpanel">
                    <div class="bg-light-primary border border-primary border-3 border-dashed d-flex justify-content-between rounded w-100 p-5 mb-10">
                        <div class="d-flex align-items-center">
                            <div class="symbol symbol-40px me-4">
                                <div class="symbol-label fs-2 fw-semibold">
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen002.svg-->
                                    <span class="svg-icon svg-icon-2 svg-icon-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="none">
                                            <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" fill="currentColor" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </div>
                            </div>
                            <!--begin::Content-->
                            <div class="d-flex flex-column pe-0 pe-sm-10">
                                <h5 class="mb-1">Change Profile information</h5>
                            </div>
                            <!--end::Content-->
                        </div>
                    </div>
                    <div class="card p-3">
                        <form id="profile-form" method="post" enctype="multipart/form-data">
                            <div class="profile-img-wrap">

                                <!--begin::Image input placeholder-->
                                <style>
                                    .image-input-placeholder {
                                        background-image: url('/assets/images/user.jpg');
                                    }

                                    [data-bs-theme="dark"] .image-input-placeholder {
                                        background-image: url('/assets/images/user.jpg')
                                    }
                                </style>
                                <!--end::Image input placeholder-->
                                <!--begin::Image input-->
                                <div class="image-input image-input-empty mb-4" data-kt-image-input="true" style="background-image: url(/assets/images/user.jpg)">
                                    <!--begin::Image preview wrapper-->
                                    <div class="image-input-wrapper w-125px h-125px"></div>
                                    <!--end::Image preview wrapper-->
                                    <!--begin::Edit button-->
                                    <label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                                           data-kt-image-input-action="change"
                                           data-bs-toggle="tooltip"
                                           data-bs-dismiss="click"
                                           title="Change avatar">
                                        <i class="fa-solid fa-pen"></i>

                                        <!--begin::Inputs-->
                                        <input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
                                        <input type="hidden" name="avatar_remove" />
                                        <!--end::Inputs-->
                                    </label>
                                    <!--end::Edit button-->
                                    <!--begin::Cancel button-->
                                    <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                                          data-kt-image-input-action="cancel"
                                          data-bs-toggle="tooltip"
                                          data-bs-dismiss="click"
                                          title="Cancel avatar">
                                        <i class="fa-solid fa-xmark"></i>
                                    </span>
                                    <!--end::Cancel button-->
                                    <!--begin::Remove button-->
                                    <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                                          data-kt-image-input-action="remove"
                                          data-bs-toggle="tooltip"
                                          data-bs-dismiss="click"
                                          title="Remove avatar">
                                        <i class="fa-solid fa-xmark"></i>
                                    </span>
                                    <!--end::Remove button-->
                                </div>
                                <!--end::Image input-->
                            </div>
                            <div class="profile-basic">
                                <div class="row">
                                    <div class="col-md-6 mb-7">
                                        <!--begin::Input group-->
                                        <div class="form-floating">
                                            <input asp-for="Input.Username" class="form-control" id="FirstName" />
                                            <label for="FirstName" asp-for="Input.Username">First Name:</label>
                                        </div>
                                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 mb-7">
                                        <!--begin::Input group-->
                                        <div class="form-floating">
                                            <input asp-for="Input.Username" class="form-control" id="LastName" />
                                            <label for="FirstName" asp-for="Input.Username">Last Name:</label>
                                        </div>
                                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 mb-7">
                                        <!--begin::Input group-->
                                        <div class="form-floating">
                                            <input asp-for="Input.Address" class="form-control" id="Address" />
                                            <label for="Address" asp-for="Input.Address">Address:</label>
                                        </div>
                                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 mb-7">
                                        <!--begin::Input group-->
                                        <div class="form-floating">
                                            <input asp-for="Input.PhoneNumber" class="form-control" id="PhoneNumber" />
                                            <label for="PhoneNumber" asp-for="Input.PhoneNumber">Phone Number:</label>
                                        </div>
                                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 mb-7">
                                        <!--begin::Input group-->
                                        <div class="form-floating">
                                            <input asp-for="Input.Birthdate" class="form-control patient-birthdate" id="Birthdate" />
                                            <label for="Birthdate" asp-for="Input.Birthdate">Birth Date:</label>
                                        </div>
                                        <span asp-validation-for="Input.Birthdate" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 mb-7">
                                        <div class="form-floating">
                                            <select class="form-select" asp-for="Input.Gender" data-control="select2" data-placeholder="Select an Gender">
                                                <option value="">Select Gendar</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Child">Child</option>
                                            </select>
                                            <label for="Gender">Gender</label>
                                        </div>
                                        <span asp-validation-for="Input.Gender" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center ">
                                <button class="btn btn-primary submit-btn mb-4" type="submit">Save Changes</button>
                            </div>
                        </form>
                    </div>

                </div>

                <div class="tab-pane fade" id="kt_vtab_pane_5" role="tabpanel">
                    Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit.
                    Magna duis labore cillum sint adipisicing exercitation ipsum. Nostrud ut anim non exercitation velit laboris fugiat cupidatat.
                    Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip ipsum aute laboris nisi.
                    Labore labore veniam irure irure ipsum pariatur mollit magna in cupidatat dolore magna irure esse tempor ad mollit.
                    Dolore commodo nulla minim amet ipsum officia consectetur amet ullamco voluptate nisi commodo ea sit eu.
                </div>

                <div class="tab-pane fade" id="kt_vtab_pane_6" role="tabpanel">
                    Sint sit mollit irure quis est nostrud cillum consequat Lorem esse do quis dolor esse fugiat sunt do.
                    Eu ex commodo veniam Lorem aliquip laborum occaecat qui Lorem esse mollit dolore anim cupidatat.
                    eserunt officia id Lorem nostrud aute id commodo elit eiusmod enim irure amet eiusmod qui reprehenderit nostrud tempor.
                    Fugiat ipsum excepteur in aliqua non et quis aliquip ad irure in labore cillum elit enim. Consequat aliquip incididunt
                    ipsum et minim laborum laborum laborum et cillum labore. Deserunt adipisicing cillum id nulla minim nostrud labore eiusmod et amet.
                </div>
            </div>
        </div>
    </div>


@*     <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard </a></li>
                    <li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
                    <li class="breadcrumb-item active">Edit Profile</li>
                </ul>
            </div>
        </div>
    </div>
    <form id="profile-form" method="post" enctype="multipart/form-data">
        <partial name="_StatusMessage" for="StatusMessage" />
        <div class="card-box">
        <div class="row">
                <div class="col-md-12">
                    <div class="card bg-white">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-tabs-solid" role="tablist">
                                <li class="nav-item" role="presentation"><a class="nav-link active" href="#solid-tab1" data-bs-toggle="tab" aria-selected="true" role="tab">Change Profile</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#solid-tab2" data-bs-toggle="tab" aria-selected="false" role="tab" tabindex="-1">Change Email</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#solid-tab3" data-bs-toggle="tab" aria-selected="false" role="tab" tabindex="-1">Change Password</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active show py-5" id="solid-tab1" role="tabpanel">
                                    <form id="profile-form" method="post" enctype="multipart/form-data">
                                        <div class="profile-img-wrap">
                                            @if (Model.Input.ProfilePicture != null)
                                            {
                                                <img class="inline-block img-preview" src="data:image /*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))" alt="user">
                                            }
                                            else
                                            {
                                                <img class="inline-block img-preview" src="~/images/dashboard/user.jpg" alt="user">
                                            }
                                            <div class="fileupload btn">
                                                <span class="btn-text">edit</span>
                                                <input asp-for="Input.ProfilePicture" class="upload" type="file"
                                                       onchange="document.querySelector('.img-preview').src = window.URL.createObjectURL(this.files[0])"
                                                       accept="image/jpeg , image/png , image/jpg">
                                            </div>
                                        </div>
                                        <div class="profile-basic">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-block local-forms">
                                                        <label class="focus-label" asp-for="Input.Username"></label>
                                                        <input asp-for="Input.Username" class="form-control floating">
                                                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-block local-forms">
                                                        <label class="focus-label" asp-for="Input.PhoneNumber"></label>
                                                        <input asp-for="Input.PhoneNumber" class="form-control floating">
                                                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-block local-forms">
                                                        <label asp-for="Input.Address"></label>
                                                        <div class="cal-icon">
                                                            <input asp-for="Input.Address" class="form-control floating">
                                                            <span asp-validation-for="Input.Address" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-block local-forms">
                                                        <label asp-for="Input.Birthdate"></label>
                                                        <div class="cal-icon">
                                                            <input asp-for="Input.Birthdate" class="form-control floating datetimepicker">
                                                            <span asp-validation-for="Input.Birthdate" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-block local-forms">
                                                        <label asp-for="Input.Occupation"></label>
                                                        <div class="cal-icon">
                                                            <input asp-for="Input.Occupation" class="form-control floating">
                                                            <span asp-validation-for="Input.Occupation" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-block local-forms">
                                                        <label asp-for="Input.Gender" class="focus-label"></label>
                                                        <select asp-for="Input.Gender" class="form-control select">
                                                            <option value="">Select Gendar</option>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                        </select>
                                                        <span asp-validation-for="Input.Gender" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center ">
                                            <button class="btn btn-primary submit-btn mb-4" type="submit">Save Changes</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="solid-tab2" role="tabpanel">
                                    Tab content 2
                                </div>
                                <div class="tab-pane" id="solid-tab3" role="tabpanel">
                                    Tab content 3
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form>
        <div class="card-box">
            <h3 class="card-title">Contact Informations</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="input-block local-forms">
                        <label class="focus-label">Address</label>
                        <input type="text" class="form-control floating" value="4487 Snowbird Lane">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input-block local-forms">
                        <label class="focus-label">Address</label>
                        <input type="text" class="form-control floating" value="4487 Snowbird Lane">
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center ">
            <button class="btn btn-primary submit-btn mb-4" type="button">Save</button>
        </div>
    </form> *@
</div>

<script>
    $(".patient-birthdate").flatpickr();
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
