@model MedicinePrescriptionViewModel;
@inject UserManager<ApplicationUser> userManger;

@{
    var applicationUser = await userManger.GetUserAsync(User) ?? new ApplicationUser();
    ViewData["Title"] = "Details";
}

<div class="d-flex align-items-center border border-dashed border-gray-300 rounded min-w-750px px-7 py-3 mb-5 medicine-box">
    <!--begin::Title-->
    <a href="javascript:;" class="fs-5 text-gray-900 text-hover-primary fw-semibold w-375px min-w-200px medicine-name">
        @Model.Medicine?.Name
    </a>
    <!--end::Title-->
    <!--begin::Label-->
    <div class="min-w-150px pe-2">
        <span class="badge badge-light-primary fs-7">@Model.Dose <span class="ms-2">Unit</span></span>
    </div>
    <!--end::Label-->
    <!--begin::Progress-->
    <div class="min-w-150px pe-2 ">
        <span class="badge badge-light-primary fs-7">@Model.Hours <span class="ms-2">Hours</span></span>
    </div>
    <!--end::Progress-->
    <!--begin::Label-->
    <div class="min-w-150px pe-2">
        <span class="badge badge-light-primary fs-7">@Model.Days <span class="ms-2">Days</span></span>
    </div>
    <!--end::Label-->
    @if (await userManger.IsInRoleAsync(applicationUser, "Doctor"))
    {
        <!--begin::Action-->
        <a href="javascript:;" class="btn btn-sm btn-light btn-active-light-danger js-delete-pmedicine" data-url="/Prescription/DeleteMedicine/@Model.Id">Delete</a>
        <!--end::Action-->
    }

</div>
<!--end::Record-->