@inject UserManager<ApplicationUser> userManager;
@inject SignInManager<ApplicationUser> signInManager
@{

    ApplicationUser applicationUser = await userManager.GetUserAsync(User) ?? new ApplicationUser();
}
<!-- Topbar Start -->
<div class="container-fluid bg-light ps-5 pe-0 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center">
                <small class="py-2"><i class="far fa-clock text-primary me-2"></i>Opening Hours: Saturday - Thursday: 3:00 pm - 11:00 pm, Friday: Closed</small>
            </div>
        </div>
        <div class="col-md-6 text-center text-lg-end">
            <div class="position-relative d-inline-flex align-items-center bg-primary text-white top-shape px-5">
                <div class="me-3 pe-3 border-end py-2">
                    <p class="m-0"><i class="fa fa-envelope-open me-2"></i>bhnsdentalclinic@gmail.com</p>
                </div>
                <div class="py-2">
                    <p class="m-0"><i class="fa fa-phone-alt me-2"></i>+012 345 6789</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0 rounded">
    <a href="/" class="navbar-brand p-0">
        <h3 class="m-0 text-primary"><i class="fa fa-tooth me-2"></i>BHNS Dental Clinic</h3>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <div class="nav-link-holder">
                <a asp-controller="Home" asp-action="Index"
                   aria-current="page" class="nav-link w-inline-block w--current">
                    <div>Home</div>
                    <div class="link-background"></div>
                </a>
            </div>
            <div class="nav-link-holder">
                <a asp-controller="Home" asp-action="About"
                   aria-current="page" class="nav-link w-inline-block ">
                    <div>About</div>
                    <div class="link-background"></div>
                </a>
            </div>
            <div class="nav-link-holder">
                <a asp-controller="Home" asp-action="Services"
                   aria-current="page" class="nav-link w-inline-block ">
                    <div>Services</div>
                    <div class="link-background"></div>
                </a>
            </div>
            <div class="nav-link-holder">
                <a asp-controller="Contacts" asp-action="Create"
                   class="nav-link w-inline-block">
                    <div>Contact</div>
                    <div class="link-background"></div>
                </a>
            </div>
            @if (signInManager.IsSignedIn(User) )
            {
                @if (await userManager.IsInRoleAsync(applicationUser!, "User"))
                {
                    <div class="nav-link-holder">
                        <a asp-controller="Patients" asp-action="Details" asp-route-id="@applicationUser.PatientId" class="nav-link w-inline-block">
                            <div>Appointment</div>
                            <div class="link-background"></div>
                        </a>
                    </div>
                }

            }
            @* else
            {
                <div class="nav-link-holder">
                    <a asp-area="Identity" asp-page="/Account/Login" class="nav-link w-inline-block">
                        <div>Appointment</div>
                        <div class="link-background"></div>
                    </a>
                </div>
            } *@


            <partial name="_LoginPartial" />
        </div>
    </div>


</nav>
<!-- Navbar End -->
