@{
    ViewData["Title"] = "Dashboard";
}

<div class="card mt-5">
    <div class="good-morning-blk px-3">
        <div class="row">
            <div class="col-md-6 position-blk d-none d-lg-flex">
                <div class="morning-img">
                    <img src="~/assets/images/morning-img-02.png" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="morning-user ps-5">
                    <h2>Good Morning, <span>Dr.Ahmed Bahnsawy</span></h2>
                    <p>Have a nice day at work</p>
                </div>
            </div>
        </div>
    </div>
</div>