@model MedicineViewModel;

<form id="MedicinesForm" asp-controller="Medicines" asp-action=@(Model.Id == null ? "Create" : "Update")
      data-ajax-method="post"
      data-ajax="true"
      data-ajax-begin="onRequestBegin"
      data-ajax-success="onRequestSuccess"
      data-ajax-failure="onRequestFailure"
      data-ajax-complete="onRequestComplete">
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <div class="form-floating mb-2">
                    <input class="form-control form-control-solid" asp-for="Name" placeholder="Name..." />
                    <label class="form-label" asp-for="Name"></label>
                </div>
                <span class="text-danger d-block" asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="mb-3">
                <div class="form-floating mb-2">
                    <select class="form-select form-select-solid js-select2" asp-for="Type" data-placeholder="Select an Type">
                        <option value="">Select Medicine Type</option>
                        <option value="Syrap">Syrap</option>
                        <option value="Vial">Vial</option>
                        <option value="Tablet">Tablet</option>
                        <option value="Capsules">Capsules</option>
                        <option value="Sachets">Sachets</option>
                        <option value="Drops">Drops</option>
                        <option value="Inhalers">Inhalers</option>
                        <option value="Topical">Topical</option>
                        <option value="(Injection) Ampoule IV">(Injection) Ampoule IV"</option>
                        <option value="(Injection) Ampoule IM">(Injection) Ampoule IM"</option>
                        <option value="(Injection) Ampoule SC">(Injection) Ampoule SC"</option>
                        <option value="Sublingual Tablets">Sublingual Tablets</option>
                        <option value="Patches">Patches</option>
                    </select>
                    <label class="form-label" asp-for="Type"></label>
                </div>
                <span class="text-danger d-block" asp-validation-for="Type"></span>
            </div>
        </div>
        <div class="col-12 mt-5">
            <div class="actions">
                <button type="button" class="btn-sm btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn-sm btn btn-@(Model.Id == null ? "primary" : "warning")  me-2">
                    <span class="indicator-label">
                        @(Model.Id == null ? "Add" : "Edit")
                    </span>
                    <span class="indicator-progress">
                        Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}